.PrefCheckbox {
  text-align: left;
}

.PrefCheckbox-container {
  text-align: left;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  padding: 16px 24px 16px 24px;
  border: 1px solid;
  border-radius: 16px;
}

.Checkbox {
  margin: 1px;
}

